.tool-panel {

	-webkit-transition: all 0.25s ease;
  	-moz-transition: all 0.25s ease;
  	-o-transition: all 0.25s ease;
  	transition: all 0.25s ease;

	position: relative;
	padding:  5px;
	background-color:  #fff;
	font-size:  15px;
	font-weight: 500;
	text-align:  center;
}

.tool-panel table.btn-group, .tool-panel table.btn-group tbody, .tool-panel table.btn-group tr {
	display: block;
}

.tool-panel table.btn-group tr {
	display: block;
}

.tool-panel table.btn-group tr td {
	display: inline-block;
	width: 30%;
	text-align: center;
}

.tool-panel table.btn-group tr td button {
	width: 100%;
}

.tool-panel .tool-header {
	display: block;
}

.tool-panel .tool-header h4 {
	margin-top: 0;
	margin-bottom: 0;
}

.tool-panel .tool-body {
	display: block;
	padding: 10px 0px;
	min-width: 100px;
	/*border-bottom: solid 1px #f0f0f0;*/
}

.tool-panel .tool-footer {
	border-top: solid 1px #f5f5f5;
	padding-top: 5px;
	margin: 0 30px;
	display: block;
}

.btn {
	-webkit-transition: all 0.25s ease;
  	-o-transition: all 0.25s ease;
  	transition: all 0.25s ease;

	background-color: #fff;
	border: solid 1px #ebebeb;
	border-radius: 5px;
	padding: 5px;
  	font-size: 0.9em;
  	font-weight: 100;
  	outline: 0;
  	cursor: pointer;
}


.btn:not(:disabled):hover { 
	border-color: #b5e7ff;
	background-color: #dff6ff; 
}
.btn:not(:disabled):active { 
	background-color: #b5e7ff;
}
.btn:not(:disabled):focus { outline: 0; }

.btn:disabled {
    -webkit-transition: none;
    -o-transition: color 0 ease-in;
    transition: none;

    background-color: #ebebeb;
    cursor: not-allowed;
}

.version {
	font-weight: 100;
	color: #a0a0a0;
	font-size: 0.7em;
}


.info-panel {

	-webkit-transition: all 0.25s ease;
  	-o-transition: all 0.25s ease;
  	transition: all 0.25s ease;

	position: fixed;
	top: 40px;
	right:  0;
	padding:  10px; 
	margin:  20px;
	background-color:  #fff;
	border:  solid 1px #eee; 
	border-radius:  5px;
	box-shadow:  inset 0 2px 2px rgba(221, 221, 221, .075), 0 0 16px rgba(0, 0, 0, .6);
	font-size:  1.1em;
	text-align:  center;
}


.info-panel .removes-left {
	font-size: 1.2em;
	padding-top: 8px;
	display: block;
}

.tool-panel .author {
	font-size: 0.7em;
	color: #a0a0a0;
	font-weight: 100;
}